.THIS {
	background-color:#1589FF;
    height:100;
    padding-bottom:10px;
    padding-top:30px;
    padding-bottom:30px;
}

.THIS .slds-box {
    background-color:grey;
}

.THIS .titleTask {
    background-color:blue;
}